body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.app {
    box-sizing: border-box;
    padding: 15px 0;
    min-height: 100vh;
    background-color: #e9c46a;

    &__content {
        margin: 0 auto;
        padding-bottom: 30px;
        width: 70%;
        background-color: #fff;
        border: 3px solid #264653;
    }

    &__h1 {
        text-align: center;
        color: #264653;
    }

    &__h2 {
        text-align: center;
        color: #2a9d8f;
    }

    &__components {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-around;
    }

    &__comm-section {
        border-top: 3px solid #e76f51;
    }

}